<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <h1>MANAPUA</h1>
  <h1>POI</h1>
  <h1>BACON</h1>
  <h1>MEAT JUN</h1>
  <h1>KULOLO</h1>
  <h1>ULU</h1>
  <h1>PIZZA, PEPPERONI AND MUSHROOMS</h1>
  <h1>DRY AKU</h1>
  <h1>MOCHI</h1>
  <h1>SMOKE MEAT</h1>
</div>


</body>
</html>
